language: android
jdk: oraclejdk8

android:
  components:
    - platform-tools
    - tools
    - tools

    - build-tools-29.0.6

    - android-29

    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - addon-google_apis-google-19


before_install:
  - yes | sdkmanager "platforms;android-27"

script:
    - ./gradlew assembleDebug
    - "sbt clean coverage test"

after_success: "sbt coveralls"
